@font-face {}@media screen and (max-width: 767px) {
  .comment_block {
    margin-left: 16px; }
  .comment_block img {
    position: relative;
    right: 180px;
    top: 24px; } }

.main {
  width: 100%; }

.mobile-menu__head_search {
  display: none; }

body {
  font-family: TTLakes-Regular, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  width: 100%;
  letter-spacing: 0.2px;
  color: #1B1C21;
  margin: 0;
  display: flex;
  align-content: flex-end;
  flex-wrap: wrap;
  flex-direction: column; }

@font-face {
  font-family: 'TTLakes-ExtraBold';
  src: url(./fonts/TTLakes-ExtraBold.ttf) format("truetype"); }

@font-face {
  font-family: 'TTLakes-Regular';
  src: url(./fonts/TTLakes-Regular.ttf) format("truetype"); }

.header {
  background-color: white; }

.header__main-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 18.5px 16px 18.5px 16px; }

.header__main-menu > button {
  border: none;
  outline: 0;
  background: none; }

.header__main-menu_768 > button {
  border: none;
  outline: 0;
  background: none; }

.services {
  border-top: 1px solid #d9fff5;
  background-color: #f8f8f8; }

.services .services__heading::before {
  content: "";
  margin-right: 12px;
  border-width: 4px;
  border-left-style: solid;
  border-left-color: #41F6D7;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px; }

.services .services__heading {
  font-family: TTLakes-ExtraBold, sans-serif;
  font-style: normal;
  font-size: 26px; }

.services__slidemenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  white-space: nowrap;
  font-size: 16px;
  flex-shrink: 0;
  flex-wrap: nowrap;
  overflow-x: scroll;
  padding: 0;
  margin-left: 16px; }

.services__slidemenu li {
  padding: 8px 9.3px 8px 16.5px; }

.services__slidemenu li a {
  text-decoration: none;
  color: #7E7E82; }

.slidemenu__item_active {
  border: 2px solid #B8FFEC;
  border-radius: 6px;
  background-color: #ffff; }

.services__slidemenu a {
  text-decoration: none; }

.services__description .services__paragraph p {
  color: #1B1C21;
  text-align: justify;
  padding-left: 16px;
  padding-right: 16px;
  line-height: 18px;
  font-size: 14px;
  margin: 0; }

.services__description .services__paragraph {
  margin-bottom: 13px; }

.services__description .services__paragraph .services__paragraph_768 {
  display: none; }

.services__description .services__paragraph .services__paragraph_1120 {
  display: none; }

.services__description .services__paragraph .services__next {
  display: flex; }

.services__description .services__paragraph .services__next a {
  text-decoration: none; }

.services__description .services__paragraph .services__next h2 {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0; }

.services__description .services__paragraph .services__next img {
  min-width: 24px;
  margin-left: 18px;
  margin-right: 10px; }

.services__picture {
  width: 100%; }

.header .header__main-menu_768 {
  display: none; }

.header .header__main-menu .header__main-menu_1120 {
  display: none; }

.vacuum {
  width: 100vw;
  top: 0;
  z-index: 90;
  position: absolute;
  height: 100%;
  left: 0;
  background: rgba(255, 255, 255, 0.9); }

.comment_text {
  text-align: left;
  margin-left: 16px;
  width: 288px; }

.comment_block {
  display: flex;
  width: 292px; }

.comment_block img {
  height: 10px;
  align-self: flex-start;
  margin-top: 22px; }

.comment_url {
  list-style: none;
  text-decoration: none;
  width: 335px; }

.comment_url p {
  font-size: 16px;
  font-weight: 600;
  width: 292px; }

.main__footer_plagiat {
  text-align: center; }

.main__footer_politic {
  text-align: center; }

.main__footer_offer {
  text-align: center; }

@media screen and (min-width: 768px) {
  .header__main-menu_divider {
    order: -3;
    flex-grow: 1; }
  .header__main-menu_768_divider {
    margin-right: 15px;
    flex-grow: 1; }
  .header__main-menu button:nth-child(1) {
    order: -4;
    flex-grow: 1; }
  .header__main-menu button:nth-child(2) {
    order: -2;
    flex-grow: 10; }
  .header__main-menu_group {
    position: relative;
    right: 90px; }
  .header__main-menu_checkstatus {
    margin-left: 16px;
    margin-right: 24px; }
  .header .header__main-menu_768 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    order: -1; }
  .header .header__main-menu_768 button {
    margin-right: 16px; }
  .services {
    min-height: 500px; }
  .services .services__heading {
    margin-bottom: 32px; }
  .services .services__heading::before {
    margin-right: 20px; }
  .services__slidemenu {
    font-size: 16px;
    margin-bottom: 32px;
    margin-left: 24px; }
  .services__slidemenu li {
    padding: 8px 9.3px 8px 16.54px; }
  .services__description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .services__next {
    order: 1; }
  .services__description .services__paragraph {
    width: 42%;
    margin-left: 10px; }
  .services__description .services__paragraph .services__paragraph_768 {
    display: block; }
  .services__description .services__next {
    margin-top: 10px; }
  .services__description .services__next h2 {
    font-size: 16px; }
  .services__picture {
    width: 50%;
    margin-right: 25px;
    order: 0;
    border-radius: 5px; }
  .comment_text {
    width: 421px;
    text-align: left;
    margin-left: 24px; }
  .comment_url p {
    width: 421px;
    margin-bottom: 70px;
    margin-left: 24px; }
  .main__footer {
    display: flex;
    justify-content: space-around;
    margin-left: 24px;
    height: 81px; }
  .br {
    display: none; }
  .main__footer_plagiat {
    text-align: left;
    width: 218px; }
  .main__footer_politic p {
    width: 214px; }
  .main__footer_offer {
    width: 213px;
    text-align: right; } }

@media screen and (min-width: 1120px) {
  body {
    background-color: #f8f8f8; }
  .header__main-menu {
    display: block;
    margin-bottom: 0;
    background-color: #f8f8f8; }
  .header .header__main-menu .header__main-menu_1120 {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center; }
  .header .header__main-menu > button {
    display: none; }
  .header .header__main-menu_divider {
    display: none; }
  .header .header__main-menu_768 {
    display: none; }
  .header .header__main-menu_1120 .heading_1120::before {
    content: "";
    margin-left: -16px;
    margin-right: 30px;
    border-width: 2px;
    border-left-style: solid;
    border-left-color: #41F6D7;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; }
  .header .header__main-menu_1120 .heading_1120 {
    font-family: TTLakes-ExtraBold, sans-serif;
    font-style: normal;
    font-size: 27px;
    order: -3;
    flex-grow: 10;
    margin-bottom: 0; }
  .header .header__main-menu .header__main-menu_1120 .header__main-menu_1120_repair_name {
    order: -3;
    margin-right: 8px;
    margin-bottom: 5px;
    font-weight: 600; }
  .header .header__main-menu .header__main-menu_1120 .header__main-menu_1120_checkstatus_name {
    margin-left: 32px;
    margin-right: 9px;
    margin-bottom: 5px;
    font-weight: 600; }
  .header__main-menu .header__main-menu_1120 .header__main-menu_1120_checkstatus {
    margin-right: 0; }
  .services {
    padding-right: 20px;
    border: none; }
  .services .services__heading {
    display: none; }
  .services .services__slidemenu {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 8px;
    margin-left: 32px;
    margin-bottom: 0; }
  .services__slidemenu li {
    padding: 8px 21.7px 8px 20px; }
  .services__slidemenu li:nth-child(1) {
    display: block; }
  .services__slidemenu li:nth-child(3) {
    display: none; }
  .services__description {
    margin-top: 1%; }
  .services__description .services__paragraph {
    width: 45%;
    margin-left: 18px; }
  .services__description .services__paragraph .services__paragraph_768 {
    display: none; }
  .services__description .services__paragraph .services__paragraph_1120 {
    display: block; }
  .services__picture {
    margin-right: 0.5%;
    border-radius: 5px; } }

@media screen and (min-width: 1120px) {
  .main {
    max-width: 1120px; } }

@media screen and (min-width: 1440px) {
  html {
    margin: 0 auto 0 auto;
    max-width: 1440px; }
  .mobile-menu__head_close {
    display: none; }
  .mobile-menu__head_search {
    display: block; } }

body {
  background-color: #F8F8F8;
  width: 100%;
  height: 240px;
  font-family: TTLakes-Regular, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.2px;
  color: #1B1C21;
  margin: 0; }

@font-face {
  font-family: 'TTLakes-Regular';
  src: url(./fonts/TTLakes-Regular.ttf) format("truetype"); }

.swiper__title {
  margin-top: 0;
  margin-bottom: 32px;
  background: linear-gradient(to right, #F8F8F8, white); }

.swiper__title h1 {
  margin-top: 0;
  font-size: 16px;
  color: #7E7E82;
  padding: 16px; }

.swipr_stock {
  align-items: center;
  margin-bottom: 38px; }

.swiper-container_stock {
  overflow: hidden; }

.swipr_stock .slide_stock {
  width: 218px !important;
  height: 70px;
  background-color: #ffffff;
  margin-right: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 10px;
  border: 1px solid #EAEAEA;
  border-radius: 6px; }

.swipr_stock:first-child {
  margin-left: 10px; }

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important; }

.swiper-pagination-bullet-active {
  background-color: #7E7E82 !important; }

.button {
  display: none; }

.slide_stock__go {
  border: none;
  outline: none;
  background: none; }

.swiper-pagination_stock {
  margin-left: 50px; }

@media screen and (min-width: 768px) {
  .swipr_stock {
    flex-wrap: wrap; }
  .swipr_stock .slide_stock {
    width: 202px !important;
    height: 70px;
    margin: 0 12px 16px 12px; }
  .button {
    display: block;
    margin-left: 32px;
    width: 145px;
    height: 34px; }
  .button__show img {
    position: relative;
    background-repeat: no-repeat;
    top: -5px;
    left: -5px; }
  .button__show {
    display: flex;
    border: none;
    outline: none;
    background: none; }
  .button_transform {
    transform: rotate(180deg); }
  .button__p {
    font-size: 16px;
    font-weight: 600;
    margin: 0; } }

@media screen and (min-width: 1120px) {
  .swipr_stock .slide_stock {
    width: 218px !important;
    height: 70px;
    margin: 0 16px 16px 16px; } }

@font-face {
  font-family: 'TTLakes-Regular';
  src: url(./fonts/TTLakes-Regular.ttf) format("truetype"); }

.swiper-container_height {
  overflow: hidden; }

.swiper__title_height {
  margin-top: 0;
  margin-bottom: 32px;
  background: linear-gradient(to right, #F8F8F8, white); }

.swiper__title_height h1 {
  margin-top: 0;
  font-size: 16px;
  color: #7E7E82;
  padding: 16px; }

.swiper_height {
  align-items: center;
  margin-bottom: 38px; }

.swiper_height .slide_height {
  width: 218px !important;
  height: 70px;
  background-color: #ffffff;
  margin-right: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 10px;
  border: 1px solid #EAEAEA;
  border-radius: 6px; }

.swiper_height:first-child {
  margin-left: 10px; }

.slide_height {
  width: 240px !important;
  height: 160px !important; }

.swiper__height_p {
  position: absolute;
  left: 16px;
  top: 2px; }

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important; }

.swiper-pagination-bullet-active {
  background-color: #7E7E82 !important; }

.button_height {
  display: none; }

.slide_height__go_height {
  position: absolute;
  right: 10px;
  bottom: 10px;
  border: none;
  outline: none;
  background: none; }

.swiper-pagination_height {
  margin-left: 50px; }

@media screen and (min-width: 768px) {
  .swiper_height {
    flex-wrap: wrap; }
  .swiper_height .slide_height {
    width: 202px !important;
    height: 70px;
    margin: 0 12px 16px 12px; }
  .button_height {
    display: block;
    margin-left: 32px;
    width: 145px;
    height: 34px; }
  .button__show_height img {
    position: relative;
    background-repeat: no-repeat;
    top: -5px;
    left: -5px; }
  .button__show_height {
    display: flex;
    border: none;
    outline: none;
    background: none; }
  .button_transform_height {
    transform: rotate(180deg); }
  .button__p_height {
    font-size: 16px;
    font-weight: 600;
    margin: 0; } }

@media screen and (min-width: 1120px) {
  .swiper_height .slide_height {
    width: 218px !important;
    height: 70px;
    margin: 0 16px 16px 16px; } }

@font-face {
  font-family: 'TTLakes-Regular';
  src: url(./fonts/TTLakes-Regular.ttf) format("truetype"); }

.swiper-container_price {
  overflow: hidden; }

.swiper__title_price {
  margin-top: 0;
  margin-bottom: 32px;
  background: linear-gradient(to right, #F8F8F8, white); }

.swiper__title_price h1 {
  margin-top: 0;
  font-size: 16px;
  color: #7E7E82;
  padding: 16px; }

.swiper_price {
  align-items: center;
  margin-bottom: 38px; }

.swiper_price .slide_price {
  width: 218px !important;
  height: 70px;
  background-color: #ffffff;
  margin-right: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 10px;
  border: 1px solid #EAEAEA;
  border-radius: 6px;
  height: 200px; }

.swiper_price:first-child {
  margin-left: 10px; }

.slide_price {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.slide_price_block {
  display: flex;
  flex-direction: column;
  width: 100%; }

.price_time {
  width: 45%; }

.slide_price_block p {
  margin: 0;
  padding: 0; }

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important; }

.swiper-pagination-bullet-active {
  background-color: #7E7E82 !important; }

.button_price {
  display: none; }

.slide_price__go_price {
  background: #FF3E79;
  width: 119px;
  height: 32px;
  border-radius: 16px;
  border: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  outline: none; }

.slide_price_button {
  width: 50%;
  flex-grow: 2; }

.slide_price__go_price img {
  width: 24px;
  height: 24px; }

.slide_price__go_price p {
  color: white; }

.swiper_price_columns {
  display: none; }

.swiper-pagination_price {
  margin-left: 100px; }

@media screen and (min-width: 768px) {
  .swiper_price {
    flex-direction: column; }
  .swiper_price .slide_price {
    flex-direction: row;
    flex-wrap: nowrap;
    width: 720px !important;
    height: 64px;
    margin: 0 12px 16px 12px; }
  .slide_price_p {
    display: none; }
  .swiper_price_columns {
    display: flex;
    margin-left: 35px; }
  .swiper_price_columns p:nth-child(2) {
    margin-left: 120px; }
  .swiper_price_columns p:nth-child(3) {
    margin-left: 210px; } }

@media screen and (min-width: 1120px) {
  .swiper_price .slide_price {
    width: 100% !important; } }

@media screen and (max-width: 320px) {
  .mobile-menu__head_burger {
    display: none; }
  .mobile-menu__head_search {
    display: block;
    order: 1; }
  .mobile-menu__head_close {
    flex-grow: 1; }
  .mobile-menu__head_group {
    flex-grow: 3; }
  .mobile-menu__head_group img {
    position: relative;
    right: 40px; } }

@media screen and (max-width: 1439px) {
  .mobile-menu__head_burger {
    display: none; }
  .mobile-menu__head_search {
    display: block;
    order: 1; }
  .mobile-menu__head_close {
    flex-grow: 1; }
  .mobile-menu__head_group {
    flex-grow: 3; }
  .mobile-menu__head_group img {
    position: relative;
    right: 40px; }
  .mobile-menu__left {
    position: absolute;
    z-index: 100;
    box-shadow: 1px 0 50px 0 #454545; } }

.mobile-menu__left {
  display: none;
  height: 100%;
  flex-direction: column;
  font-family: TTLakes-Regular, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.2px;
  width: 320px;
  height: 820px;
  margin: 0;
  background-color: white; }

@font-face {
  font-family: 'TTLakes-ExtraBold';
  src: url(./fonts/TTLakes-ExtraBold.ttf) format("truetype"); }

@font-face {
  font-family: 'TTLakes-Regular';
  src: url(./fonts/TTLakes-Regular.ttf) format("truetype"); }

.mobile-menu__head {
  display: flex;
  align-items: center;
  justify-content: space-around; }

.mobile-menu__head button {
  margin-top: 18px;
  border: none;
  outline: none;
  background: none; }

.mobile-menu__head button:nth-child(2) {
  position: relative;
  right: 25px; }

.group_hover:hover {
  transition: 0.5s;
  opacity: 0.5; }

.menu {
  max-height: 670px;
  flex-grow: 1; }

.menu__slidemenu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  list-style-type: none;
  white-space: nowrap;
  font-size: 16px;
  flex-shrink: 0;
  padding: 0;
  margin-top: 50px; }

.menu__slidemenu li {
  margin-bottom: 32px;
  margin-left: 24px; }

.menu__slidemenu .slidemenu__item a {
  text-decoration: none;
  color: black;
  font-weight: 600; }

.bottom {
  margin-left: 24px; }

.bottom__button {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  list-style-type: none;
  padding: 0;
  margin-left: 19px; }

.bottom__button li {
  margin-right: 16px; }

.button__item button {
  border: none;
  outline: none;
  background: none; }

.button_hover:hover {
  transform: rotate(90deg);
  transition: 0.5s;
  opacity: 0.5; }

.bottom__contacts {
  margin-left: 19px; }

.contacts__links {
  list-style-type: none;
  padding: 0; }

.contacts__mail a {
  text-decoration: none;
  font-size: 16px;
  color: black; }

.contacts__number a {
  text-decoration: none;
  font-family: TTLakes-ExtraBold, sans-serif;
  font-style: normal;
  font-size: 24px;
  color: black; }

.language__select {
  display: flex; }

.bottom__language {
  margin-top: 40px;
  margin-left: 19px; }

.bottom__language .language__select {
  list-style-type: none;
  white-space: nowrap;
  padding: 0; }

.language__item a {
  text-decoration: none;
  font-size: 16px;
  margin-right: 7px; }

.mobile-menu_hover:hover {
  transform: rotate(90deg);
  transition: 0.5s;
  opacity: 0.5; }

input[type="checkbox"],
input[type="radio"] {
  display: none; }

input[type="checkbox"] + label,
input[type="radio"] + label {
  font-size: 16px;
  font-weight: 600; }

input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
  content: "";
  position: absolute;
  height: 32px; }

.slidemenu__item {
  list-style-type: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.slidemenu__item > input[type="radio"] {
  display: none; }

.slidemenu__item > label {
  display: flex;
  align-items: center; }

.slidemenu__item > input:checked + label::before {
  content: "";
  margin-right: 21px;
  border-width: 3px;
  border-left-style: solid;
  border-left-color: #41F6D7;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  left: 0;
  position: absolute; }

.slidemenu__item > input:checked + label {
  color: #7E7E82; }

input[type="checkbox"],
input[type="radio"] {
  display: none; }

input[type="checkbox"] + label,
input[type="radio"] + label {
  font-size: 16px;
  font-weight: 600; }

.language__item {
  list-style-type: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 7px; }

.language__item > input[type="radio"] {
  display: none; }

.language__item > label {
  display: flex;
  align-items: center; }

.language__item > input:checked + label {
  color: #7E7E82; }

@media screen and (min-width: 1440px) {
  .mobile-menu__left {
    position: fixed;
    display: flex;
    flex-direction: column;
    font-family: TTLakes-Regular, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.2px;
    width: 320px;
    height: 100%;
    margin: 0;
    background-color: white; }
  .mobile-menu__head_burger {
    display: none; }
  .mobile-menu__head_group {
    order: 0; }
  .mobile-menu__head_close-search {
    order: 1; }
  @font-face {
    font-family: 'TTLakes-ExtraBold';
    src: url(./fonts/TTLakes-ExtraBold.ttf) format("truetype"); }
  @font-face {
    font-family: 'TTLakes-Regular';
    src: url(./fonts/TTLakes-Regular.ttf) format("truetype"); }
  .mobile-menu__head {
    display: flex;
    align-items: center;
    justify-content: space-around; }
  .mobile-menu__head button {
    margin-top: 18px;
    border: none;
    outline: none;
    background: none; }
  .mobile-menu__head button:nth-child(2) {
    position: relative;
    right: 25px; }
  .group_hover:hover {
    transition: 0.5s;
    opacity: 0.5; }
  .menu {
    flex-grow: 1; }
  .menu__slidemenu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    list-style-type: none;
    white-space: nowrap;
    font-size: 16px;
    flex-shrink: 0;
    padding: 0;
    margin-top: 20px; }
  .menu__slidemenu li {
    margin-bottom: 32px;
    margin-left: 24px; }
  .menu__slidemenu .slidemenu__item a {
    text-decoration: none;
    color: black;
    font-weight: 600; }
  .bottom {
    margin-left: 24px; }
  .bottom__button {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    list-style-type: none;
    padding: 0; }
  .bottom__button li {
    margin-right: 16px; }
  .button__item button {
    border: none;
    outline: none;
    background: none; }
  .button_hover:hover {
    transform: rotate(90deg);
    transition: 0.5s;
    opacity: 0.5; }
  .contacts__links {
    list-style-type: none;
    padding: 0; }
  .contacts__mail a {
    text-decoration: none;
    font-size: 16px;
    color: black; }
  .contacts__number a {
    text-decoration: none;
    font-family: TTLakes-ExtraBold, sans-serif;
    font-style: normal;
    font-size: 24px;
    color: black; }
  .language__select {
    display: flex; }
  .bottom__language {
    margin-top: 40px; }
  .bottom__language .language__select {
    list-style-type: none;
    white-space: nowrap;
    padding: 0; }
  .language__item a {
    text-decoration: none;
    font-size: 16px;
    margin-right: 7px; }
  .mobile-menu_hover:hover {
    transform: rotate(90deg);
    transition: 0.5s;
    opacity: 0.5; }
  input[type="checkbox"],
  input[type="radio"] {
    display: none; }
  input[type="checkbox"] + label,
  input[type="radio"] + label {
    font-size: 16px;
    font-weight: 600; }
  input[type="checkbox"] + label::before,
  input[type="radio"] + label::before {
    content: "";
    position: absolute;
    height: 32px; }
  .slidemenu__item {
    list-style-type: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
  .slidemenu__item > input[type="radio"] {
    display: none; }
  .slidemenu__item > label {
    display: flex;
    align-items: center; }
  .slidemenu__item > input:checked + label::before {
    content: "";
    margin-right: 21px;
    border-width: 3px;
    border-left-style: solid;
    border-left-color: #41F6D7;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    left: 0;
    position: absolute; }
  .slidemenu__item > input:checked + label {
    color: #7E7E82; }
  input[type="checkbox"],
  input[type="radio"] {
    display: none; }
  input[type="checkbox"] + label,
  input[type="radio"] + label {
    font-size: 16px;
    font-weight: 600; }
  .language__item {
    list-style-type: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    margin-right: 7px; }
  .language__item > input[type="radio"] {
    display: none; }
  .language__item > label {
    display: flex;
    align-items: center; }
  .language__item > input:checked + label {
    color: #7E7E82; } }

.form-page {
  display: none;
  position: fixed;
  right: -26px;
  background-color: white;
  width: 440px;
  z-index: 120;
  box-shadow: 1px 0 50px 0 #454545; }

.form-page__title_h1::before {
  content: "";
  margin-right: 12px;
  border-width: 4px;
  border-left-style: solid;
  border-left-color: #41F6D7;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px; }

.form-page__title_h1 {
  font-family: TTLakes-ExtraBold, sans-serif;
  font-style: normal;
  font-size: 26px;
  margin-top: 32px; }

.form-page__form_all input {
  margin-bottom: 16px;
  border: 1px solid #EAEAEA;
  border-radius: 8px;
  height: 48px;
  width: 368px; }

.form-page__form_all textarea {
  margin-bottom: 16px;
  border: 1px solid #EAEAEA;
  border-radius: 8px;
  height: 118px;
  width: 358px;
  resize: none;
  padding-left: 10px;
  padding-top: 10px;
  overflow: hidden; }

.form-page__form_all {
  margin-left: 32px; }

.form-page__form_position_button .form-page__form_button {
  position: absolute;
  right: 32px;
  width: 136px;
  height: 32px;
  border-radius: 16px;
  background: #FF3E79;
  color: white;
  text-align: left; }

.form-page_button-img {
  position: relative;
  left: 350px;
  top: 3px; }

.form-page__info_text {
  margin-right: 32px; }

.form-page__info_link {
  color: #FF3E79; }

.form-page__form_all input::-webkit-input-placeholder {
  transform: translateX(16px); }

.form-page__form_all input::-moz-placeholder {
  transform: translateX(16px); }

.form-page__form_all input:-ms-input-placeholder {
  transform: translateX(16px); }

.form-page__form_all input::placeholder {
  transform: translateX(16px); }

.form-page__form_pass::-webkit-input-placeholder {
  transform: translateX(16px) translateY(12px);
  font-size: 16px; }

.form-page__form_pass::-moz-placeholder {
  transform: translateX(16px) translateY(12px);
  font-size: 16px; }

.form-page__form_pass:-ms-input-placeholder {
  transform: translateX(16px) translateY(12px);
  font-size: 16px; }

.form-page__form_pass::placeholder {
  transform: translateX(16px) translateY(12px);
  font-size: 16px; }

.form-page__button {
  width: 40px;
  position: absolute;
  left: -73px;
  top: 32px; }

.form-page__button-close {
  border: none;
  outline: none;
  background: none; }

@media screen and (max-width: 320px) {
  .form {
    box-shadow: none; }
  .form-page {
    left: 0;
    width: 320px;
    box-shadow: none; }
  .form-page__form_all input {
    width: 282px; }
  .form-page__form_all {
    margin-left: 16px; }
  .form-page__form_all textarea {
    width: 282px;
    resize: none; }
  .form-page_button-img {
    position: relative;
    left: 240px;
    top: 3px; }
  .form-page__button {
    position: relative;
    left: 16px;
    top: 24px; } }


/*# sourceMappingURL=style.css.map*/