.form{


}

.form-page{
  display: none;
  position:absolute;
  right: -26px;
  background-color: white;
  width: 440px;
  z-index: 120;
  box-shadow: 1px 0 50px 0 #454545;
}
.form-page__title_h1::before{
  content:"";
  margin-right: 12px;
  border-width:  4px;
  border-left-style: solid;
  border-left-color: #41F6D7;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.form-page__title_h1{
  font-family: TTLakes-ExtraBold, sans-serif;
  font-style: normal;
  font-size: 26px;
  margin-top: 32px;

}
.form-page__form_all input {
  //margin-left: 32px;
  margin-bottom: 16px;
  border: 1px solid #EAEAEA;
  border-radius: 8px;
  height: 48px;
  width: 368px;
}
.form-page__form_all textarea{
  //margin-left: 32px;
  margin-bottom: 16px;
  border: 1px solid #EAEAEA;
  border-radius: 8px;
  height: 118px;
  width: 368px;
}
.form-page__form_all{
  margin-left: 32px;
}
.form-page__form_position_button .form-page__form_button{
  position: absolute;
  right:32px;
  width: 136px;
  height: 32px;
  border-radius: 16px;
  background: #FF3E79;
  color: white;
  text-align: left;
}
.form-page_button-img{
  position: relative;
  left:350px;
  top: 3px;
}
.form-page__info_text{
  margin-right: 32px;
}
.form-page__info_link{
color:#FF3E79;
}
.form-page__form_all input::placeholder{
  transform: translateX(16px) ;
}
.form-page__form_pass::placeholder {
  transform: translateX(16px) translateY(12px);
  font-size: 16px;
}
.form-page__button{
  width: 40px;
  position: absolute;
  left:-73px;
  top:32px;
}
.form-page__button-close{
  border: none;
  outline: none;
  background: none;

}
@media screen and (max-width:320px) {
  .form{
    box-shadow:none;
  }
  .form-page{
    left: 0;
    width: 320px;
    box-shadow:none;
  }
  .form-page__form_all input {
    width: 282px;
  }
  .form-page__form_all  {
    margin-left: 16px;
  }
  .form-page__form_all textarea{
    width: 282px;
  }
  .form-page_button-img{
    position: relative;
    left:240px;
    top: 3px;
  }
  .form-page__button{
    position: relative;
    left:16px;
    top:24px
  }

}
@media screen and (min-width:1120px) {

}
